@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    overflow-x: hidden;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* Header Section Starts */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header.scrolled {
    background: #7ce720;
    z-index: 9999999;
}

header .navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

header .navbar ul li {
    margin: 0 1rem;
}

header .navbar ul li a {
    font-size: 2rem;
    color: darkviolet;
}

header .navbar ul li a:hover {
    color: #aaa;
}

header .Name h1 {
    font-size: 2rem;
    color: darkviolet;
}

header .Name span {
    font-size: 2rem;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0.3));
}

header .menubar {
    font-size: 3rem;
    color: darkviolet;
    cursor: pointer;
    display: none;
    transition: .2s;
}

header .fa-times {
    transform: rotate(180deg);
    color: blueviolet;
}

.Dark-Bright {
    display: flex;
    justify-content: right;
    align-items: center;
    position: fixed;
    top: 8rem;
    right: 0;
    cursor: pointer;
}

.Dark-Bright :nth-child(1) {
    font-size: 2rem;
    margin: 0 2rem;
    border: .5rem solid darkviolet;
    padding: .5rem .9rem;
    border-radius: 50%;
}

.Dark-Bright :nth-child(2) {
    font-size: 2rem;
    margin: 0 2rem;
    border: .5rem solid darkviolet;
    padding: .5rem .7rem;
    border-radius: 50%;
}

/* Header Section Ends */


/* Home Section Starts */

.home {
    min-height: 90vh;
    padding-top: 10rem;
}

.home .row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home .row .socialIcons {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding-top: 5rem;
    padding-right: 2rem;
    gap: 2rem;
}

.home .row .socialIcons i {
    font-size: 3rem;
    cursor: pointer;
    color: #9bba97;
    box-shadow: 0 0 8px #37c720;
    border-radius: 20%;
    padding: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.home .row .socialIcons i:hover {
    color: #37c720;
}

.home .row .content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 3rem;
    width: 100%;
}

.home .row .content .title {
    width: 75rem;
}

.home .row .content .title h1 {
    font-size: 5rem;
    color: darkblue;
}

.home .row .content .title>span {
    font-size: 3rem;
    color: #7ce720;
}

.home .row .content .title p {
    font-size: 2rem;
    text-align: justify;
}

.home .row .content img {
    border: 1rem solid #7ce720;
    border-radius: 50%;
}

.home .row .content button {
    text-align: center;
    font-size: 2rem;
    padding: 1rem 3rem;
    background: #7ce720;
    text-transform: uppercase;
    margin-top: 2rem;
    cursor: pointer;
    border: none;
}

/* Home Section Ends */


/* About Section Starts */

.heading {
    text-align: center;
    font-size: 7.5rem;
    color: darkviolet;
}

.desc {
    text-align: center;
    font-size: 3.5rem;
    color: darkviolet;
}

.about .row {
    display: flex;
    justify-content: space-around;
    padding-top: 2rem;
    gap: 5rem;
}

.about .aboutme {
    padding-top: 1rem;
    width: 65rem;
}

.about .aboutme #MJ {
    font-size: 2rem;
    text-align: justify;
}

.about .aboutme button {
    text-align: center;
    font-size: 2rem;
    padding: 1rem 3rem;
    background: #7ce720;
    text-transform: uppercase;
    margin-top: 2rem;
    cursor: pointer;
    border: none;
}

/* Skills */

.heads {
    font-size: 3rem;
    color: blueviolet;
}

.technical-bars {
    width: 45rem;
    transform: translateX(-4%);
}

.about .row .technical-bars .bar {
    font-size: 2rem;
    padding-bottom: 1rem;
}

.about .row .technical-bars .bar i {
    font-size: 3rem;
}

.about .row .technical-bars .info {
    margin-bottom: 1rem;
}

.about .row .technical-bars .info span {
    font-size: 2rem;
}
.about .row .technical-bars .info .percentage{
    position: absolute;
    right: 0;
}

.about .row .technical-bars .progress-line {
    background-color: lightgray;
    width: 100%;
    position: relative;
    height: 1rem;
    border-radius: 10rem;
    transform: scale(1);
}

.about .row .technical-bars .progress-line span {
    position: absolute;
    width: 100%;
    height: 100%;
}

.about .row .technical-bars .progress-line .html-line {
    width: 100%;
    background-color: #c95d2e;
}

.about .row .technical-bars .progress-line .css-line {
    width: 90%;
    background-color: #147bbc;
}

.about .row .technical-bars .progress-line .js-line {
    width: 80%;
    background-color: #eab308;
}

/* About Section Ends */

/* Project Section Starts */

.project .card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project .card-container .card {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 25rem;
    box-shadow: 0 0 20px;
    margin: 2rem;
}

.project .card-container .card img {
    width: 35rem;
    height: 20rem;
}

.bg-black {
    background: black;
}

.project .card-container .card .democode {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 2rem;
    overflow: hidden;
}

.project .card-container .card .democode a {
    font-size: 2rem;
    text-decoration: none;
    color: #324123;

}

/* Project Section Ends */

/* Experience Section Starts */

.experience {
    padding: 5rem 0;
}

.experience .box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.experience .box-container .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 35rem;
    height: 25rem;
    margin: 2rem;
}

.experience .box-container .box img {
    width: 20rem;
    height: 17rem;
    padding-top: 3rem;
}

.experience .box-container .box h2 {
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
}

.Html {
    box-shadow: 0px 8px 8px #f97316;
}

.Css {
    box-shadow: 0px 8px 8px #3b82f6;
}

.Js {
    box-shadow: 0px 8px 8px #eab308;
}

/* Experience Section Ends */


/* Contact Section Starts */
.contact .contact-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.contact .contact-form form input,
.contact .contact-form form textarea {
    width: 60rem;
    padding: 2rem;
    font-size: 2rem;
    border: 3px solid #66ff00;
    outline: none;
    border-radius: 2rem;
    background: transparent;
    box-sizing: border-box;
}

.contact .contact-form form .input-group {
    position: relative;
    margin: 1.25rem 0;
}

.contact .contact-form form .input-group span {
    position: absolute;
    font-size: 2rem;
    top: 2rem;
    left: 2rem;
    padding: 0 1rem;
    transition: all 0.2s ease;
    pointer-events: none;
    background: transparent;
}

.contact .contact-form form input:focus+span,
.contact .contact-form form textarea:focus+span,
.contact .contact-form form input:valid+span,
.contact .contact-form form textarea:valid+span {
    transform: translateY(-2.5rem);
    background-color: #30322e;
    font-size: 1.5rem;
    color: #66ff00;
    z-index: 100;
}

textarea {
    resize: none;
    height: 200px;
    overflow: hidden;
}

.contact .contact-form form input[type="submit"] {
    background-color: #66ff00;
    width: 20rem;
    cursor: pointer;
    font-size: 2rem;
    transition: .2s;
    border: none;
    outline: none;
}

.contact .contact-form form input[type="submit"]:hover {
    background-color: rgb(4, 238, 137);
}

/* Contact Section Ends */


/* Media Queries */

@media screen and (max-width:768px) {
    html {
        font-size: 55%;
    }

    header .menubar {
        display: block;
        margin-right: 2.7rem;
        overflow: hidden;
    }

    header .navbar {
        position: fixed;
        width: 100%;
        border-radius: 1rem;
        top: -100rem;
        left: 0;
        opacity: 0;
    }

    header .navbar ul {
        flex-direction: column;
        padding: 18rem 0;
    }

    header .navbar ul li {
        width: 100%;
        margin: 1rem 0;
        text-align: center;
    }

    header .navbar ul li a {
        font-size: 2.5rem;
        display: block;
    }

    header .navbar-toggle {
        top: 5.7rem;
        height: 100%;
        background-color: #9E9E9E;
        opacity: 1;
        filter: grayscale(1);
    }

    .Dark-Bright {
        top: 10rem;
        z-index: 999999;
    }

    .home {
        padding-top: 10rem;
        padding-bottom: 5rem;
    }

    .home .row {
        flex-direction: column-reverse;
    }

    .home .row .content {
        flex-wrap: wrap;
    }

    .home .row .content .title {
        padding: 0 1rem;
        margin: 0;
        width: 88rem;
    }

    .home .row .content img {
        width: 40rem;
    }

    .home .row .socialIcons {
        flex-direction: row;
        padding-top: 5rem;
        padding-right: 0;
    }

    .home .row .socialIcons i {
        font-size: 3.5rem;
    }

    .home .row .content img {
        border-radius: 0;
    }

    /* Home Section Ends */

    /* About Section Starts */

    .about .row {
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
    }

    .heading {
        font-size: 6rem;
    }

    .desc {
        font-size: 2rem;
    }

    .about .aboutme {
        padding: 0 1rem;
        width: 88rem;
    }

    .technical-bars {
        width: 70vw;
        transform: translateX(0%);
    }

    /* About Section Ends */

    /* Contact Section  */
    .contact .contact-form form input {
        width: 80vw;
    }

    .contact .contact-form form textarea {
        width: 80vw;
    }
}